extends ../layout

block content
  h1= title
  p Welcome to #{title}
  input(type='hidden', value='#{ip}', id="hiddenIp")
  div
    p life : #{data.life} pv
    p name : #{data.name}
    p class : #{data.class}
  canvas(id="screen") Votre navigateur ne supporte pas HTML5, veuillez le mettre à jour pour jouer.

